[system]
seed=

[IO]
input_file=
input_file_readme=
output_dir=
ir_filelist_dir=
ir_extensions=
plot=

[noaa]
user=
pwd=

[tracks]
mindate=
maxdate=
basin=
minLon=
maxLon=
minMaxWind=
nPtsCyclone=
nDeltaPtsCyclone=
hourTimeWindow=
